* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

body {
    background-color: rgb(20, 20, 20);
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card {
    width: 400px;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.--ivanIMG {
    object-position: 0px -50px;
}

.--milagrosIMG {
    object-position: 0px -80px;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
padding: 0 20px;
    background-color:#f7ae28;
}
.main{
    height: 400px;
    background-color: rgb(143, 142, 142);
    display: flex;
    flex-direction: column;
    padding: 30px 80px;
    
}

.navLinks {
    display: flex;
    gap: 25px;

}

.imgLogo {
    margin: 5px;
    border-radius: 50%;
}

.links {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0)

}